html, body {
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

#middleContainer {
  display:flex;
  align-items: center;
  justify-content: center;
  height:70vh;
  width:70vh;
}

#navigation{
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

#container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100vh;
  width:100vw;
  gap: 1%;
}

#leftColumn{
  display:flex;
  flex-direction: column;
  align-items: center;
  float: left;
  height:70vh;
  width: 10vw;
}

#menuContainer{
  width: 100vw;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
}

#menuBTNS{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.styledBox{
  background-color: rgba(245, 245, 245, 1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  gap: 10px;
  padding: 1%;
}

.styledButton{
  border: none;
  cursor: pointer;
  background-color: rgba(245, 245, 245, 1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-large{ 
  padding: 15px 30px; 
  font-size: 14px; 
}

.btn-larger{
  padding: 15px 30px; 
  font-size: 32px;
}

.btn-styled-red{
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgba(237,34,93,1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.btn-styled-red:hover{
  transform: scale(1.1);
  background-color: #FA4579;
}

.styledButton:hover{
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 1);
}

.styledTextField{
  width: 250px;
  border-radius: 1%;
}